{ "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "quotes": ["error", "single",{ "allowTemplateLiterals": true }],
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "import/no-named-as-default": 0,
    "react/forbid-prop-types": 0
  }
}
